<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultado Simplex</title>
    <style>
        .center {
            text-align: center;
        }
        table {
            margin: 20px auto;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
        h2, h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="tables-container">
        <h1>Resultado Algoritmo Simplex</h1>
        {% for iteracion in iteraciones %}
            <h2>Iteración {{ forloop.counter }}</h2>
            <table border="1">
                <thead>
                    <tr>
                        {% for col in cols %}
                            <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row, dataRow in iteracion %}
                        <tr>
                            <td>{{ row }}</td>
                            {% for value in dataRow %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
    <div id="tables-container">
        <h2>Valores Finales</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Variable</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for row, last_value in result %}
                    <tr>
                        <td>{{ row }}</td>
                        <td>{{ last_value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
