<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simplex</title>
    <style>
        .center {
            text-align: center;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .limit-value {
            display: inline; /* Mostrar el campo de límite por defecto */
        }
    </style>
    <script>
        function toggleLimitInput(selectElement, inputId) {
            var inputElement = document.getElementById(inputId);
            if (selectElement.value === "con_limite") {
                inputElement.style.display = 'inline';
                inputElement.required = true;
            } else {
                inputElement.style.display = 'none';
                inputElement.required = false;
                inputElement.value = ''; // Limpiar el valor del input si no es requerido
            }
        }
        
        // Mostrar u ocultar los campos de límite cuando se cargue la página, si es necesario
        document.addEventListener("DOMContentLoaded", function() {
            var selects = document.querySelectorAll('select[id^="x"]');
            selects.forEach(select => {
                var inputId = select.getAttribute('id').replace('_limit', '_value');
                toggleLimitInput(select, inputId);
            });
        });
    </script>
</head>
<body>
    <header>
        <a href="{% url 'menu' %}">Volver al inicio</a>
    </header>
    <div class="center">
        <h1>Simplex</h1>
        <form method="post" action="{% url 'simplex' %}">
            {% csrf_token %}
            <input type="hidden" name="variables" value="{{ variables }}">
            <input type="hidden" name="restricciones" value="{{ restricciones }}">
            <input type="hidden" name="method" value="{{ method }}">
            <div class="form-group">
                <label for="objective">Objetivo de la función:</label>
                <select id="objective" name="objective" required>
                    <option value="maximizar">Maximizar</option>
                    <option value="minimizar">Minimizar</option>
                </select>
            </div>
            <div class="form-group">
                <label>Función:</label>
                {% for i in range_variables %}
                    <input type="number" name="x{{ i }}" required> x{{ i|add:1 }}{% if not forloop.last %} + {% endif %}
                {% endfor %}
            </div>
            <div class="form-group">
                <label>Restricciones:</label>
                {% for j in range_restricciones %}
                    <div>
                        {% for k in range_variables %}
                            <input type="number" name="r{{ j }}x{{ k }}" required> x{{ k|add:1 }}{% if not forloop.last %} + {% endif %}
                        {% endfor %}
                        <select name="r{{ j }}_operator" required>
                            <option value="<=">&le;</option>
                            <option value=">=">&ge;</option>
                            <option value="=">=</option>
                        </select>
                        <input type="number" name="r{{ j }}_value" required>
                    </div>
                {% endfor %}
            </div>
            <div class="form-group">
                <label>Límites de las variables:</label>
                {% for i in range_variables %}
                    <div>
                        <label for="x{{ i }}_limit">x{{ i|add:1 }}:</label>
                        <select name="x{{ i }}_limit" id="x{{ i }}_limit" onchange="toggleLimitInput(this, 'x{{ i }}_value')">
                            <option value="con_limite" selected>&ge;</option>
                            <option value="sin_limite">Sin límite</option>
                        </select>
                        <input type="number" name="x{{ i }}_limit_value" id="x{{ i }}_value" class="limit-value" placeholder="Valor del límite inferior" max="0" required>
                    </div>
                {% endfor %}
            </div>
            <button type="submit">Continuar</button>
        </form>
    </div>
</body>
</html>
